.grid-container {
    width: 400px;
    height: 400px;
    border: 10px;
    border-style: solid;
    border-color: gray;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.grid-row {
    width: 400px;
    display: flex;
}

.grid {
    border: 0.5px;
    border-style: solid;
    box-sizing: border-box;
    border-color: gray;
    margin: 0;
}

.marked {
    background-color: black;
}